* {
    margin: 0 auto;
}

#leafletmap {
    width: 800px;  /* feel free to change this! */
    height: 600px; /* feel free to change this! */
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.white {
    background-color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    background-color: white;
  }

  td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    position: relative;
  }